/* Soluzione qui */

@media screen and (min-width: 576px) {

    .clearfix img {
        float: left;
        margin-right: 1rem;
    }

    .social-networks button {
        flex-grow: 1;
    }
    
}


@media screen and (min-width: 768px) {

    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 50px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: xx-large;
    }

    /* ????? come si fanno ad incolonnare correttamente? */
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        li {
            margin: 0;
            flex-shrink: 0;
            flex-basis: (100%/3 - 20px);
            min-width: (608px/3 - 20px);
            flex-grow: 1;
        }
    }

    .ads {
        display: block;
    }

}

@media screen and (min-width:992px) {
    .recipe-name {
        font-size: 3rem;
    }

    .quick-notes ul {
        display: block;

        li {
            margin: 15px 0;
            min-width: none;
        }
    }

    .recipe-card {
        display: flex;

        /* Come mai il video si allunga in verticale? */
        .recipe-video {
            flex-grow: 1;
        }
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}